p{
    font-family: monospace;
    font-weight: 800;
    border: 5px solid black;
    text-align: center;
    font-size: large;
    margin-left: 650px;
    margin-right: 650px;
    width: 500px;
    height: 100px;
    padding-top: 55px;
}
h2{
    display: inline;
}
span{
    color: blueviolet;
}